
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    
    <div align="center">
        <div class="row row-cols-2 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transacciones Hoy</h5>
                        <i class="fa fa-exchange fa-5x" aria-hidden="true" style="color:green "></i>
                        <p style="color:green; font-size:30px;">8500</p>

                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transacciones Total</h5>
                        <i class="fa fa-exchange fa-5x" aria-hidden="true" style="color:green "></i>

                        <p style="color:green; font-size:30px; ">1500</p>

                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pagos hoy</h5>
                        <i class="fa fa-money fa-5x" aria-hidden="true" style="color:green "></i>

                        <p style="color:green; font-size:30px; ">250</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3">

            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pagos Totales</h5>
                        <i class="fa fa-money fa-5x" aria-hidden="true" style="color:green "></i>
                        <p style="color:green; font-size:30px; ">150</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Activos</h5>
                        <i class="fa fa-user fa-5x" aria-hidden="true" style="color:green "></i>
                        <p style="color:green; font-size:30px; ">900</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Inactivos</h5>
                        <i class="fa fa-user-times fa-5x" aria-hidden="true" style="color:red "></i>
                        <p style="color:red; font-size:30px; ">800</p>
                    </div>
                </div>
            </div>
        </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Productos Asignados</h5>
                            <i class="fa fa-archive fa-5x" aria-hidden="true" style="color:green "></i>
                            <p style="color:green; font-size:30px; ">500</p>
                        </div>
                    </div>
                </div>
            </div>
