
@{

    ViewData["Title"] = "Confirmacion";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
    ViewData["Usuario"] = User.Identity.Name.Trim();

}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<p class="text-primary h4" > Confirmaciond de Pago</p>
<p class="text-muted ml-3">
    Confirmación Pago Express
</p>

<div class="card bg-light">
    <div class="card-header bg-primary text-light text-center">
        <a asp-action="Index" class="btn btn-success">Volver</a>
        Pago Express
    </div>
    <article class="card-body mx-auto" style="width: 400px;">
        <form method="post">
            <div class="text-center">
                <span class="text-danger"></span>
                <label>No. Cuenta Origen</label>

            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                </div>

                <input class="form-control" readonly>
            </div>
            <div class="text-center">
                <span class="text-danger"></span>
                <label>No. Cuenta Destino</label>

            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                </div>
                <input class="form-control" readonly>
            </div>
            <div class="text-center">
                <span class="text-danger"></span>
                <label>Monto</label>

            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                </div>
                <input class="form-control" readonly>
            </div>
            <div class="text-center">
                <span class="text-danger"></span>
                <label>Nombre beneficiario</label>

            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                </div>
                <input class="form-control" readonly>
            </div>
            <input type="hidden" value="Inactivo" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Transferir</button>
            </div>

        </form>
    </article>
</div>
