@{

    ViewData["Title"] = "Beneficiarios";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
    ViewData["Usuario"] = User.Identity.Name.Trim();

}
<a asp-action="Create" class="btn btn-primary">Añadir Beneficiario</a>

<div class=" bg-light  text-black-50 text-center">
    <div class="card-header">

        <strong>Lista de Beneficiarios</strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">

                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Opciones</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>